.list{
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap:20px;
  list-style: none;
}
.item{
  border: 3px solid black;
  border-radius: 6px;
  padding: 20px;
  width: 170px;
}